/* Navigation Section */
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {
	height: 70px;
}

.links {
	float: right;
}

li {
	display: inline-block;
}